body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}

h1{
    font-size: 56px;
    font-weight: 900;
    margin: 0;
}

p{
    font-size: 24px;
    margin: 0 0 24px 0;
    opacity: 0.8;
}

i{
    color: white;
    outline: 0;
    text-decoration: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #348cb2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg{
    animation: bg 60s linear infinite; 
    background: url("bg.jpg") repeat-x bottom left;
    height: 100%;
    position: absolute;
    background-size: 1500px;
    width: 4500px;
}

.middle-box{
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: show 0.8s ease-in-out 0.15s forwards;
    margin-top: -220px;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-item{
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    border: solid 1px white;
    width: 72px;
    height: 72px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-item i{
    font-size: 30px;
}

@keyframes show{
    0%{
        margin-top: -220px;
        opacity: 0;
    }

    100%{
        margin-top: -300px;
        opacity: 1;
    }
}

@keyframes bg{
    0%{
        left: 0;
    }
    
    100%{
        left: -1500px;
    }
}