body{
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    font-size: 56px;
    font-weight: 900;
    margin: 0;
}

p{
    font-size: 24px;
    margin: 0 0 24px 0;
    opacity: 0.75;
}

a{
    color: white;
    outline: 0;
    text-decoration: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-box{
    text-align: center;
    width: 100%;
}